@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import "tailwindcss";


@layer {
    .jersey-25-regular {
        font-family: "Jersey 25", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}